body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #6d6e71;
}
.top {
  background-color: #e5f3f2;
}

.bottom {
    background-color: lightgray;
}

/*header and input styles*/

header {
  font-size: 70px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
.header-green {
  color: #00a79d;
}
fieldset {
  width: 50%;
  margin: auto;
  text-align: center;
  border: 0px;
}

input {
  font-size: 90%;
  margin: 8px;
  height: 25px;
  width: 100%;
  border: 2px solid #d1d3d4;
}

.save-button {
  background-color: #00a79d;
  text-align: center;
  margin: 8px;
  height: 35px;
  width: 100%;
  border: 0;
  color: #FFFFFF;
}
/*idea list styles*/
ul {
  margin: auto;
  width: 50%;
  list-style-type: none;
}

article {

}